{% extends 'base.html.twig' %}

{% block body %}
    {% if app.user %}
        <a href="/post/create" class="btn btn-primary mb-2 float-right">Добавить новость</a>
        <div class="clearfix"></div>
    {% endif %}
    <div class="card">
        <h4 class="card-header">Новости</h4>
        <div class="list-group list-group-flush">
            {% for post in posts %}
                <a href="/post/{{ post.id }}" class="list-group-item list-group-item-action">{{ post.title }}</a>
            {% endfor %}
        </div>
    </div>
{% endblock %}